body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

h3 {
    color: #FFAE1E;
}

h4 {
    font-size: 20px;
}

.header-part {
    display: flex;
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
}

.header-first-half {
    width: 50%;
    padding-left: 5%;
    margin-top: 10%;
}

.extra-color-header-f {
    color: #FFAE1E;
}

.extra-color-header-s {
    color: #FF351F;
}

.header-first-half P {
    padding-right: 5%;
}

.btn {
    text-decoration: none;
    color: white;
    font-weight: 600;
    background-image: linear-gradient(#FFAE1E, #FF351F);
    padding: 5px 20px;
    border-radius: 0px 0px 15px 15px;
}

.header-second-half {
    width: 50%;
    margin-top: 2%;
}

.header-second-half img {
    width: 80%;
    padding-left: 10%;
}

.about-us {
    display: flex;
    margin-bottom: 100px;
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.about-first-half {
    width: 40%;
}

.about-first-half img {
    width: 100%;
    margin: 0 5%;
}

.about-second-half {
    width: 40%;
}

.about-second-half {
    padding-right: 5%;
    padding-left: 10%;
    margin: 0 5%;
}

.experience-part {
    margin-bottom: 100px;
}

.experience-part h2 {
    text-align: center;
    margin-bottom: 50px;
}

.flexible-sec {
    display: flex;
}

.experien {
    width: 25%;
    margin: 0 4%;
    background-color: white;
    box-shadow: 0px 10px 20px #00000017;
    border-radius: 0px 0px 60px 60px;
    padding: 20px 30px;
    text-align: center;
}

.experien p {
    margin-top: -20px;
}

.contact-part {
    display: flex;
    padding-top: 100px;
    margin-bottom: 100px;
}

.cont-half {
    width: 40%;
    margin: 0 5%;
}

.cont-half img {
    width: 100%;
}

.cont-half h3 {
    color: #FF351F;
}

footer p {
    text-align: center;
}